.show {
    z-index: 1000;
    position: absolute;
    background-color: rgb(60, 60, 60, 0.95);   
    box-shadow: 0 0 10px #000000;
    color: white;
    border-radius: 6px;
    padding: 5px;
    list-style-type: none;
    list-style: none;
  }

  .deleteNote:hover {
    color: red;
  }
  
  .hide {
    display: none;
  }
  
  .show li {
    list-style: none;
  }
  
  .show a {
    border: 0 !important;
    text-decoration: none;
  }
  
  .show a:hover {
    text-decoration: underline !important;
  }