.show {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid blue;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
  }
  
  .hide {
    display: none;
  }
  
  .show li {
    list-style: none;
  }
  
  .show a {
    border: 0 !important;
    text-decoration: none;
  }
  
  .show a:hover {
    text-decoration: underline !important;
  }